build/
CMakeSettings.json

# Screenshots
*.exr

# Heterogeneous Media grids
scenes/media/*.json
scenes/ship/
*.nvdb
scenes/dragon

# Visual Studio stuff
.vs/
.vscode/

# Compiled Object files
*.slo
*.lo
*.o

# Configuration file
*.conf

# Float buffers
*.fbuf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python cache
__pycache__/

# Python env
ignis_env

# glTF cache
_ignis_cache*/

# Other outputs
out/
data/
ignis_cache*/
_ignis_cache*/

# Plugin output
ignis_blender.zip

# Some radiance output
scenes/radiance/*/*.hdr
scenes/radiance/*/*.exr
scenes/radiance/*/*.unf
scenes/radiance/*/*.oct

scenes/evaluation/radiance/*.hdr
scenes/evaluation/radiance/*.exr
scenes/evaluation/radiance/*.unf
scenes/evaluation/radiance/*.oct

# Docker build stuff
scripts/docker/anydsl/tmp/
scripts/docker/ignis/tmp/

# Do not add backup files
*.blend1
imgui.ini

# Do not export imgui settings
imgui.ini

# scenes
scenes/volume/media/*.json
scenes/volume/media/pbrt_plume.bin
scenes/bistro/
*8k.hdr